Repository boostcamp-2020/IssueTracker-2, pull requests merged in 2020-10, with the labels that each got.

#19 Feature/#14/backend setting
  backend/.gitignore
  backend/app.js
  backend/bin/www
  backend/package-lock.json
  backend/package.json
  backend/public/index.html
  backend/public/stylesheets/style.css
  backend/routes/index.js
  backend/routes/users.js
Labels: backend, web

#20 Feature/#13/front setting
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.jsx
  frontend/src/index.js
  frontend/webpack.config.js
Labels: frontend, web

#27 Feature/#18/passport GitHub
  backend/.eslintrc.js
  backend/.prettierrc.js
  backend/app.js
  backend/package-lock.json
  backend/package.json
Labels: backend, web

#28 [feat] github 로그인 데이터 확인용 UI
  frontend/.eslintrc.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.jsx
  frontend/src/components/Login.jsx
  frontend/webpack.config.js
Labels: frontend, web

#29 UpdateIssueViewController UI 구현 완료 / 기능 구현중
  iOS/.gitattributes
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/AppDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LoginValidator.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Login.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/SignInButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewModel/LoginViewModel.swift
Labels: iOS

#39 web-env-setting-develop
  backend/.eslintrc.js
  backend/.gitignore
  backend/.prettierrc.js
  backend/app.js
  backend/bin/www
  backend/package-lock.json
  backend/package.json
  backend/public/index.html
  backend/public/stylesheets/style.css
  backend/routes/index.js
  backend/routes/users.js
  frontend/.babelrc
  frontend/.eslintrc.js
  frontend/.gitignore
  frontend/.prettierrc.js
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/app.jsx
  frontend/src/components/Login.jsx
  frontend/src/index.js
  frontend/webpack.config.js
Labels: backend, frontend, web

#40 ios-develop
  iOS/.gitattributes
  iOS/.gitignore
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.xcworkspace/xcuserdata/seomr.xcuserdatad/UserInterfaceState.xcuserstate
  iOS/IssueTrackerApp/IssueTrackerApp/AppDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Base.lproj/Main.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LoginValidator.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Login.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/SignInButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LoginViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewModel/LoginViewModel.swift
Labels: UI, iOS
