Repository boostcamp-2020/IssueTracker-2, pull requests merged in 2020-11, with the labels that each got.

#56 Feature/#41/backend structure setting1
  backend/.gitignore
  backend/app.js
  backend/config/index.js
  backend/controllers/auth-controller.js
  backend/controllers/test-controller.js
  backend/db.js
  backend/loaders/express-loader.js
  backend/loaders/index.js
  backend/loaders/passport-loader.js
  backend/models/users.js
  backend/package-lock.json
  backend/package.json
  backend/passport/index.js
  backend/routes/auth.js
  backend/routes/index.js
  backend/routes/test.js
  backend/routes/users.js
  backend/services/test-service.js
Labels: backend, web

#57 Feature/#22/ios new issue markdown
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcshareddata/xcschemes/IssueTrackerApp.xcscheme
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/contents.xcworkspacedata
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/Podfile
  iOS/IssueTrackerApp/Podfile.lock
  iOS/IssueTrackerApp/Pods/Manifest.lock
  iOS/IssueTrackerApp/Pods/MarkdownView/LICENSE
  iOS/IssueTrackerApp/Pods/MarkdownView/README.md
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/MarkdownView.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/ModuleCocoaPods.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/index.html
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.css
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js.LICENSE.txt
  iOS/IssueTrackerApp/Pods/Pods.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-prefix.pch
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.release.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/ResourceBundle-MarkdownView-MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.markdown
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks.sh
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.release.xcconfig
Labels: iOS

#58 Ios-update-issue-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcshareddata/xcschemes/IssueTrackerApp.xcscheme
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/contents.xcworkspacedata
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/Podfile
  iOS/IssueTrackerApp/Podfile.lock
  iOS/IssueTrackerApp/Pods/Manifest.lock
  iOS/IssueTrackerApp/Pods/MarkdownView/LICENSE
  iOS/IssueTrackerApp/Pods/MarkdownView/README.md
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/MarkdownView.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/ModuleCocoaPods.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/index.html
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.css
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js.LICENSE.txt
  iOS/IssueTrackerApp/Pods/Pods.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-prefix.pch
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.release.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/ResourceBundle-MarkdownView-MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.markdown
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks.sh
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.release.xcconfig
Labels: iOS

#61 Develop에 Web env setting develop 브랜치 merge
  backend/.gitignore
  backend/app.js
  backend/config/index.js
  backend/controllers/auth-controller.js
  backend/controllers/test-controller.js
  backend/db.js
  backend/loaders/express-loader.js
  backend/loaders/index.js
  backend/loaders/passport-loader.js
  backend/models/users.js
  backend/package-lock.json
  backend/package.json
  backend/passport/index.js
  backend/routes/auth.js
  backend/routes/index.js
  backend/routes/test.js
  backend/routes/users.js
  backend/services/test-service.js
Labels: backend, web

#62 Feature/#17/login page markup
  frontend/components/Login/userInput.js
  frontend/components/Login/userManagementButtons.js
  frontend/public/index.html
  frontend/src/app.css
  frontend/src/app.jsx
  frontend/src/components/Login.jsx
  frontend/src/pages/Login/login.js
  frontend/src/pages/index.js
  frontend/webpack.config.js
Labels: frontend, web

#63 Feature/#9/ios-apple-OAuth
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LoginViewController.swift
  iOS/IssueTrackerApp/KeychainService/Info.plist
  iOS/IssueTrackerApp/KeychainService/InternetAuthenticationType.swift
  iOS/IssueTrackerApp/KeychainService/InternetProtocol.swift
  iOS/IssueTrackerApp/KeychainService/KeychainService.h
  iOS/IssueTrackerApp/KeychainService/SecureStore.swift
  iOS/IssueTrackerApp/KeychainService/SecureStoreError.swift
  iOS/IssueTrackerApp/KeychainService/SecureStoreQueryable.swift
Labels: iOS

#64 Ios-login-ui-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LoginViewController.swift
  iOS/IssueTrackerApp/KeychainService/Info.plist
  iOS/IssueTrackerApp/KeychainService/InternetAuthenticationType.swift
  iOS/IssueTrackerApp/KeychainService/InternetProtocol.swift
  iOS/IssueTrackerApp/KeychainService/KeychainService.h
  iOS/IssueTrackerApp/KeychainService/SecureStore.swift
  iOS/IssueTrackerApp/KeychainService/SecureStoreError.swift
  iOS/IssueTrackerApp/KeychainService/SecureStoreQueryable.swift
Labels: iOS

#65 feature/#36/ios-filter-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/IssueFilter.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueFilterViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
Labels: iOS

#82 feature/#34/ios tableview ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/IssueFilter.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/FilterIssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueFilterHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueFilterViewController.swift
Labels: iOS

#83 feature/#34/ios-tableview-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterItem.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterTableDataSource.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/IssueFilter.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueFilterHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/FilterIssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LoginView/SignInButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueFilterViewController.swift
Labels: UI, iOS

#85 ios-filter-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterItem.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterTableDataSource.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/FilterTableData/FilterTableViewDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/IssueFilter.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/FilterIssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LoginView/SignInButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueFilterViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
Labels: UI, iOS

#94 feature/#42/ios-model
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Comment.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Label.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Milestone.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
Labels: iOS

#89 Feature/#79/milestone page markup
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.jsx
  frontend/src/components/CreateMilestone/createButton.js
  frontend/src/components/CreateMilestone/explanation.js
  frontend/src/components/CreateMilestone/footer.js
  frontend/src/components/CreateMilestone/header.js
  frontend/src/components/CreateMilestone/inputDescription.js
  frontend/src/components/CreateMilestone/inputDueDate.js
  frontend/src/components/CreateMilestone/inputForm.js
  frontend/src/components/CreateMilestone/inputTitle.js
  frontend/src/components/EditMilestone/buttons.js
  frontend/src/components/EditMilestone/navButton.js
  frontend/src/components/Milestone/createButton.js
  frontend/src/components/Milestone/header.js
  frontend/src/components/Milestone/leftContent.js
  frontend/src/components/Milestone/milestoneList.js
  frontend/src/components/Milestone/navButton.js
  frontend/src/components/Milestone/rightContent.js
  frontend/src/pages/CreateMilestone/createMilestone.js
  frontend/src/pages/EditMilestone/editMilestone.js
  frontend/src/pages/Milestone/milestone.js
  frontend/src/pages/index.js
Labels: frontend, web

#88 Feature/#81/issue creation page markup
  frontend/src/components/IssueCreation/CancelButton.js
  frontend/src/components/IssueCreation/CommentForm.js
  frontend/src/components/IssueCreation/CommentInput.js
  frontend/src/components/IssueCreation/FileAttachMessage.js
  frontend/src/components/IssueCreation/IssueTitle.js
  frontend/src/components/IssueCreation/Profile.js
  frontend/src/components/IssueCreation/Sidebar.js
  frontend/src/components/IssueCreation/SubmitButton.js
  frontend/src/components/IssueCreation/Tab.js
  frontend/src/pages/IssueCreation/issueCreation.js
Labels: frontend, web

#87 Feature/#80/label page markup
  frontend/src/app.jsx
  frontend/src/components/Label/content.js
  frontend/src/components/Label/header.js
  frontend/src/components/Label/label-add-tab.js
  frontend/src/components/Label/label-list.js
  frontend/src/components/Label/nav-bar.js
  frontend/src/pages/IssueCreation/issueCreation.js
  frontend/src/pages/Label/label.js
  frontend/src/pages/index.js
Labels: frontend, web

#96 feature/#42/ios-model
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Comment.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Label.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Milestone.swift
  iOS/IssueTrackerApp/NetworkService/Encoding/JSONParameterEncoder.swift
  iOS/IssueTrackerApp/NetworkService/Encoding/ParameterEncoding.swift
  iOS/IssueTrackerApp/NetworkService/Info.plist
  iOS/IssueTrackerApp/NetworkService/NetworkService.h
  iOS/IssueTrackerApp/NetworkService/Service/EndPointType.swift
  iOS/IssueTrackerApp/NetworkService/Service/HTTPMethod.swift
  iOS/IssueTrackerApp/NetworkService/Service/HTTPTask.swift
  iOS/IssueTrackerApp/NetworkService/Service/NetworkRouter.swift
  iOS/IssueTrackerApp/NetworkService/Service/Router.swift
Labels: iOS

#97 Feature/#67/milestone read api
  backend/controllers/milestone-controller.js
  backend/models/milestones.js
  backend/routes/api.js
  backend/routes/api/milestone-api.js
  backend/services/milestone-service.js
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcshareddata/xcschemes/IssueTrackerApp.xcscheme
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/contents.xcworkspacedata
  iOS/IssueTrackerApp/IssueTrackerApp.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueContentTextView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/Podfile
  iOS/IssueTrackerApp/Podfile.lock
  iOS/IssueTrackerApp/Pods/Manifest.lock
  iOS/IssueTrackerApp/Pods/MarkdownView/LICENSE
  iOS/IssueTrackerApp/Pods/MarkdownView/README.md
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/MarkdownView.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/ModuleCocoaPods.swift
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/index.html
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.css
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js
  iOS/IssueTrackerApp/Pods/MarkdownView/Sources/MarkdownView/Resources/main.js.LICENSE.txt
  iOS/IssueTrackerApp/Pods/Pods.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-prefix.pch
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/MarkdownView.release.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/MarkdownView/ResourceBundle-MarkdownView-MarkdownView-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-Info.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.markdown
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-acknowledgements.plist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-dummy.m
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Debug-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-input-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks-Release-output-files.xcfilelist
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-frameworks.sh
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp-umbrella.h
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.debug.xcconfig
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.modulemap
  iOS/IssueTrackerApp/Pods/Target Support Files/Pods-IssueTrackerApp/Pods-IssueTrackerApp.release.xcconfig
Labels: backend, web

#98 Feature/#66/milestone create api
  backend/controllers/milestone-controller.js
  backend/models/milestones.js
  backend/routes/api/milestone-api.js
  backend/services/milestone-service.js
Labels: backend, web

#99 Feature/#68/milestone update api
  backend/app.js
  backend/controllers/milestone-controller.js
  backend/models/milestones.js
  backend/routes/api/milestone-api.js
  backend/services/milestone-service.js
Labels: backend, web

#102 Feature/#69/milestone delete api
  backend/controllers/milestone-controller.js
  backend/models/milestones.js
  backend/routes/api/milestone-api.js
  backend/services/milestone-service.js
Labels: backend, web

#101 Feature/#71/read label
  backend/controllers/label-controller.js
  backend/models/labels.js
  backend/routes/api.js
  backend/routes/api/label-api.js
  backend/services/label-service.js
Labels: backend, web

#91 modify/#90/readme-erd-image-modify
  docs/images/erd.png
Labels: web

#95 Feature/#93/initialize database
  backend/loaders/database-loader.js
  backend/loaders/relation.sql
  backend/routes/index.js
Labels: backend, web

#100 feature/#32/ios-issue-add-button
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/NewIssueButton.swift
Labels: iOS

#107 ios-issue-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Comment.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Issue.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Label.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Milestone.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/NewIssueButton.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/NetworkService/Encoding/JSONParameterEncoder.swift
  iOS/IssueTrackerApp/NetworkService/Encoding/ParameterEncoding.swift
  iOS/IssueTrackerApp/NetworkService/Info.plist
  iOS/IssueTrackerApp/NetworkService/NetworkService.h
  iOS/IssueTrackerApp/NetworkService/Service/EndPointType.swift
  iOS/IssueTrackerApp/NetworkService/Service/HTTPMethod.swift
  iOS/IssueTrackerApp/NetworkService/Service/HTTPTask.swift
  iOS/IssueTrackerApp/NetworkService/Service/NetworkRouter.swift
  iOS/IssueTrackerApp/NetworkService/Service/Router.swift
Labels: iOS

#110 feature/#32/ios-issue-add-button
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
Labels: UI, iOS

#118 ios-issue-develop
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
Labels: iOS

#123 Feature/#122/label page markup fix
  frontend/src/app.jsx
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Label/content.js
  frontend/src/components/Label/label-list.js
  frontend/src/components/Label/nav-bar.js
  frontend/src/components/Login/userManagementButtons.js
Labels: frontend, web

#124 [feat] ios GitHub OAuth 처리 시도
  backend/controllers/auth-controller.js
Labels: backend, web

#132 feature/network-model
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Info.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/APIService/APIService.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/APIService/IssueEndPoint.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/APIService/LabelEndPoint.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/APIService/MilestoneEndPoint.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LoginKeychain.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Login.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LoginViewController.swift
Labels: iOS

#131 feature/#121/ios-label-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Label.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LabelList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/IssueView/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelMark.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/TabBarController.swift
  iOS/IssueTrackerApp/Pods/Pods.xcodeproj/project.pbxproj
Labels: UI, iOS

#133 ios-label-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Label.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LabelList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelMark.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/TabBarController.swift
  iOS/IssueTrackerApp/Pods/Pods.xcodeproj/project.pbxproj
Labels: UI, iOS

#130 Feature/#116/db date
  backend/models/comments.js
  backend/models/milestones.js
  backend/util/index.js
Labels: backend, web

#129 Feature/#52/backend login
  backend/app.js
  backend/controllers/auth-controller.js
  backend/controllers/comment-controller.js
  backend/controllers/label-controller.js
  backend/controllers/milestone-controller.js
  backend/controllers/test-controller.js
  backend/controllers/token-controller.js
  backend/controllers/user-controller.js
  backend/models/users.js
  backend/package-lock.json
  backend/package.json
  backend/passport/index.js
  backend/routes/api/comment-api.js
  backend/routes/auth.js
  backend/routes/test.js
  backend/services/comment-service.js
  backend/services/label-service.js
  backend/services/milestone-service.js
  backend/services/test-service.js
  backend/services/user-service.js
Labels: backend, web

#135 [feat] milestones 테이블에 추가된 status 칼럼에 맞는 api처리
  backend/models/milestones.js
Labels: backend, web

#138 feature/#121/ios-label-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LabelList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/UIColor+Hex.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelMark.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
Labels: UI, iOS

#139 ios-label-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Model/LabelList.swift
  iOS/IssueTrackerApp/IssueTrackerApp/SceneDelegate.swift
  iOS/IssueTrackerApp/IssueTrackerApp/UIColor+Hex.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelMark.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
Labels: iOS

#141 feature/#121/ios-label-ui
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/UIColor+Hex.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
Labels: iOS

#140 Feature/#112/initialize table
  backend/loaders/database-loader.js
  backend/loaders/relation.sql
Labels: backend, web

#143 Feature/#142/mileston percent
  backend/controllers/milestone-controller.js
  backend/models/milestones.js
  backend/services/milestone-service.js
Labels: backend, web

#144 Feature/#136/milestone create update network
  backend/routes/api/milestone-api.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.jsx
  frontend/src/components/Common/GreenButton.js
  frontend/src/components/CreateMilestone/buttons.js
  frontend/src/components/CreateMilestone/inputDescription.js
  frontend/src/components/CreateMilestone/inputDueDate.js
  frontend/src/components/CreateMilestone/inputForm.js
  frontend/src/components/CreateMilestone/inputTitle.js
  frontend/src/components/EditMilestone/buttons.js
  frontend/src/index.js
  frontend/src/pages/CreateMilestone/createMilestone.js
  frontend/src/pages/EditMilestone/editMilestone.js
  frontend/src/service/fetch.js
  frontend/src/service/milestone.js
  frontend/webpack.config.js
Labels: backend, frontend, web

#154 feature/#121/ios-label-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
Labels: iOS

#155 ios-label-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/UIColor+Hex.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/LabelCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/LabelViewController.swift
Labels: iOS

#156 feature/#149/ios-milestone-ui
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Milestone.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/MilestoneCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/MilestoneCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/MilestoneViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/TabBarController.swift
Labels: iOS

#158 feature/#151/ios-milestone-update
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateLabelView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateMilestoneView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateMilestoneView.xib
Labels: UI, iOS

#159 feature/#149/ios-milestone-ui
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Model/APIService/MilestoneEndPoint.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Model/Milestone.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Milestone.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/MilestoneCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/View/MilestoneCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/MilestoneViewController.swift
Labels: UI, iOS

#160 feature/#151/ios-milestone-ui
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Label.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Resource/Milestone.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/View/UpdateMilestoneView.xib
  iOS/IssueTrackerApp/IssueTrackerApp/ViewController/MilestoneViewController.swift
Labels: iOS

#177 feature/#151/ios-milestone-update
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/LabelScene/ViewController/LabelViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/MilestoneScene/ViewController/MilestoneViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Resource/Issue.storyboard
Labels: iOS

#153 Feature/#125/front routing
  backend/loaders/database-loader.js
  backend/models/milestones.js
  frontend/src/components/Common/Header.js
  frontend/src/components/Common/NavButton.js
  frontend/src/components/Common/NormalButton.js
  frontend/src/components/CreateMilestone/buttons.js
  frontend/src/components/EditMilestone/buttons.js
  frontend/src/components/Issue/filteringBox.js
  frontend/src/components/Issue/navigation.js
  frontend/src/components/IssueCreation/CancelButton.js
  frontend/src/components/IssueCreation/CommentForm.js
  frontend/src/components/IssueCreation/SubmitButton.js
  frontend/src/components/Label/nav-bar.js
  frontend/src/components/Login/userManagementButtons.js
  frontend/src/components/Milestone/navButton.js
  frontend/src/components/Milestone/rightContent.js
  frontend/src/pages/IssueCreation/issueCreation.js
Labels: backend, frontend, web

#162 Feature/#75/create label
  backend/controllers/label-controller.js
  backend/models/comments.js
  backend/models/labels.js
  backend/routes/api/label-api.js
  backend/services/comment-service.js
  backend/services/label-service.js
Labels: backend, web

#163 Feature/#77/label update
  backend/controllers/label-controller.js
  backend/models/labels.js
  backend/routes/api/label-api.js
  backend/services/label-service.js
Labels: backend, web

#166 Feature/#77/delete label
  backend/controllers/label-controller.js
  backend/models/labels.js
  backend/routes/api/label-api.js
  backend/services/label-service.js
Labels: backend, web

#169 Feature/#161/milestone fetch
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Milestone/leftContent.js
  frontend/src/components/Milestone/milestoneList.js
  frontend/src/components/Milestone/rightContent.js
Labels: frontend, web

#171 Feature/#49/backend register
  backend/controllers/auth-controller.js
  backend/controllers/user-controller.js
  backend/models/users.js
  backend/passport/index.js
  backend/routes/api/user-api.js
  backend/routes/auth.js
Labels: backend, web

#182 ios-issue-develop
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueViewController.swift
Labels: iOS

#183 Ios-common-develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/xcuserdata/seomr.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Common/AlertFactory.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/LabelScene/ViewController/LabelViewController.swift
Labels: UI, iOS

#184 ios-refactor-develop
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/LabelScene/ViewController/LabelViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/MilestoneScene/ViewController/MilestoneViewController.swift
Labels: iOS

#187 Feature/#185/ios issue detail
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Extension/Extension+UICollectionView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/Model/Comment.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailHeader.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueDetailViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Resource/IssueDetail.storyboard
Labels: iOS

#188 Ios detail issue develop
  iOS/IssueTrackerApp/IssueTrackerApp.xcodeproj/project.pbxproj
  iOS/IssueTrackerApp/IssueTrackerApp/Extension/Extension+UICollectionView.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/Model/Comment.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/Model/IssueSection.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailCell.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailCell.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailHeader.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/View/IssueDetailHeader.xib
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueDetailViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/IssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/IssueScene/ViewController/UpdateIssueViewController.swift
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Resource/Issue.storyboard
  iOS/IssueTrackerApp/IssueTrackerApp/Scene/Resource/IssueDetail.storyboard
Labels: iOS

#190 Feature/#176/issue api
  backend/controllers/issue-controller.js
  backend/controllers/label-controller.js
  backend/loaders/database-loader.js
  backend/models/issue_assignees.js
  backend/models/issue_labels.js
  backend/models/issues.js
  backend/models/labels.js
  backend/models/milestones.js
  backend/routes/api.js
  backend/routes/api/issue-api.js
  backend/services/issue-service.js
Labels: backend, web

#192 Feature/#191/user state
  backend/controllers/auth-controller.js
  backend/controllers/user-controller.js
  backend/loaders/express-loader.js
  backend/passport/index.js
  backend/routes/api/user-api.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app.jsx
  frontend/src/components/IssueCreation/CommentForm.js
  frontend/src/components/IssueCreation/Profile.js
  frontend/src/pages/Issue/issue.js
  frontend/src/pages/IssueCreation/issueCreation.js
  frontend/src/pages/Login/login.js
  frontend/src/service/fetch.js
Labels: backend, frontend, web

#193 Feature/#161/milestone fetch
  backend/models/milestones.js
  frontend/src/app.jsx
  frontend/src/components/CreateMilestone/inputForm.js
  frontend/src/components/EditMilestone/buttons.js
  frontend/src/components/Milestone/milestoneList.js
  frontend/src/components/Milestone/rightContent.js
  frontend/src/pages/EditMilestone/editMilestone.js
  frontend/src/pages/Milestone/milestone.js
  frontend/src/service/fetch.js
  frontend/src/service/milestone.js
Labels: frontend, web

#199 Feature/#194/issue markdown
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Common/MarkdownEditor.js
  frontend/src/components/IssueCreation/CommentForm.js
  frontend/src/components/IssueCreation/CommentInput.js
  frontend/src/components/IssueCreation/Sidebar.js
  frontend/src/components/IssueCreation/Tab.js
  frontend/src/pages/IssueCreation/issueCreation.js
Labels: frontend, web

#197 Fix/#196/fix fetch code
  frontend/src/components/Label/content.js
Labels: frontend, web

#200 Feature/#195/backend filter
  backend/models/issues.js
  backend/services/issue-service.js
Labels: backend, web

#203 Feature/#198/checkbox
  backend/loaders/database-loader.js
  backend/models/issues.js
  frontend/src/app.jsx
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Issue/issueList.js
  frontend/src/components/Issue/issueUnit.js
  frontend/src/pages/Issue/issue.js
Labels: frontend, web

#205 [feat] logout버튼 활성화
  frontend/src/components/Common/Header.js
Labels: frontend, web

#207 Feature/#202/milestone detail
  frontend/src/components/EditMilestone/buttons.js
  frontend/src/components/Milestone/leftContent.js
  frontend/src/components/Milestone/milestoneList.js
  frontend/src/components/Milestone/rightContent.js
Labels: frontend, web

#211 [feat] list key값 해쉬화
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Issue/issueList.js
  frontend/src/components/Label/label-list.js
  frontend/src/components/Milestone/milestoneList.js
Labels: frontend, web

#212 [feat] token check 기능 추가
  backend/routes/api/comment-api.js
  backend/routes/api/issue-api.js
  backend/routes/api/label-api.js
  backend/routes/api/milestone-api.js
Labels: backend, web

#216 Feature/#210/issue checkbox
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Issue/issueList.js
  frontend/src/components/Issue/issueUnit.js
Labels: frontend, web

#217 Feature/#214/login page redirect
  backend/controllers/token-controller.js
  frontend/src/components/Label/label-list.js
  frontend/src/components/Milestone/milestoneList.js
  frontend/src/pages/CreateMilestone/createMilestone.js
  frontend/src/pages/EditMilestone/editMilestone.js
  frontend/src/pages/Issue/issue.js
  frontend/src/pages/IssueCreation/issueCreation.js
  frontend/src/pages/IssueDetail/issueDetail.js
  frontend/src/pages/Label/label.js
  frontend/src/pages/Milestone/milestone.js
Labels: backend, frontend, web

#219 Feature/#218/issue open close
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Issue/issueList.js
  frontend/src/pages/Issue/issue.js
Labels: frontend, web

#220 Feature/#215/issue create
  backend/controllers/issue-controller.js
  backend/loaders/database-loader.js
  backend/models/issue_assignees.js
  backend/models/issue_labels.js
  backend/models/issues.js
  backend/services/issue-service.js
Labels: backend, web

#223 [feat] ios 회원가입 추가
  backend/controllers/ios-controller.js
  backend/controllers/token-controller.js
  backend/routes/index.js
  backend/routes/ios.js
Labels: backend, web

#229 Feature/#222/issue label
  frontend/src/components/Common/ListForm.js
  frontend/src/components/Issue/issueList.js
  frontend/src/components/Issue/issueUnit.js
  frontend/src/pages/Issue/issue.js
Labels: frontend, web
